<a href="https://colab.research.google.com/github/st095229/Maching_learning2021/blob/main/Test_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import IPython
import sklearn
from sklearn import metrics
from sklearn import model_selection
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
import sympy as sym

In [ ]:
data = pd.read_csv("/content/data_regression_full_1.csv")

In [ ]:
data.head()

   Speed  Radius_big  Radius_small  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
0   19.2         2.0           0.4  ...          NaN          NaN          NaN
1   12.8         2.0           1.2  ...          NaN          NaN          NaN
2   16.0         2.0           0.9  ...          NaN          NaN          NaN
3   14.0         2.0           1.1  ...          NaN          NaN          NaN
4    0.0         2.0           2.0  ...          NaN          NaN          NaN

[5 rows x 14 columns]

In [ ]:
df = data.sample(frac=1) #Перемешивание выборки

In [ ]:
df.head()

      Speed  Radius_big  Radius_small  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
5243   76.2         3.9           0.8  ...          NaN          NaN          NaN
5058   14.1         1.6           0.4  ...          NaN          NaN          NaN
4347   38.3         2.8           1.1  ...          NaN          NaN          NaN
2531   35.1         4.4           0.7  ...          NaN          NaN          NaN
3563    7.3         2.5           0.6  ...          NaN          NaN          NaN

[5 rows x 14 columns]

In [ ]:
df.shape #Размер

(6000, 14)

In [ ]:
df = df.drop(['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1)

In [ ]:
X = df.drop(['Kf_a', 'Kf_b', 'Kf_c'], axis=1) #Параметры
X.head()

      Speed  Radius_big  Radius_small  ...  Pressure_1  Pressure_2  Viscosity
5243   76.2         3.9           0.8  ...       133.6        47.6      0.006
5058   14.1         1.6           0.4  ...       114.7        88.4      0.003
4347   38.3         2.8           1.1  ...        22.6         3.4      0.005
2531   35.1         4.4           0.7  ...        39.5         9.2      0.009
3563    7.3         2.5           0.6  ...        19.2        14.5      0.003

[5 rows x 7 columns]

In [ ]:
y = df.drop(['Speed', 'Radius_big', 'Radius_small', 'Length',\
             'Pressure_1', 'Pressure_2', 'Viscosity'], axis=1) #Коэффициенты
y.head()

      Kf_a  Kf_b  Kf_c
5243  -5.2     0  79.8
5058  -5.7     0  15.0
4347  -5.6     0  45.2
2531  -1.9     0  35.9
3563  -1.2     0   7.6

In [ ]:
n = len(X)
n_train = round(n * 0.85)

train_X = X.iloc[:n_train]
test_X = X.iloc[n_train:] #Разбитие на тренировочную и тестовую выборки

train_y, test_y = y.loc[train_X.index], y.loc[test_X.index]

In [ ]:
params = {'n_jobs': range(0,20)}
model = LinearRegression() #Линейная регрессия
rar = GridSearchCV(model, params) #Подбор гиперпараметров
rar.fit(train_X, train_y)
rar.best_params_

{'n_jobs': 0}

In [ ]:
model_1 = LinearRegression().fit(train_X, train_y) #Тренировка
res = model_1.score(train_X, train_y)
res

0.9476518272878293

In [ ]:
rslt_test = model_1.predict(test_X)
err_test = mean_absolute_error(test_y, rslt_test)
print('MAE, test: %f' % err_test) #Линейная регрессия совсем не справляется

MAE, test: 175.963011

In [ ]:
params = {'n_estimators': range(1500, 1701, 100)} #Лучшие гиперпараметры
model = RandomForestRegressor()
rar = GridSearchCV(model, params)
rar.fit(train_X, train_y)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'n_estimators': range(1500, 1701, 100)})

In [ ]:
rar.best_params_

{'n_estimators': 1500}

In [ ]:
momdel = RandomForestRegressor(max_features = 7, min_samples_leaf = 2, \
                               max_depth = 10, n_estimators=1500)
momdel.fit(train_X, train_y)

RandomForestRegressor(max_depth=10, max_features=7, min_samples_leaf=2,
                      n_estimators=1500)

In [ ]:
rslt_test = momdel.predict(test_X)
err_test = mean_absolute_error(test_y, rslt_test)
print('MAE, test: %f' % err_test) #Случайный лес справляется лучше

MAE, test: 72.351669